/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Lily58-derived, number row dropped. 4 main rows + 2 thumb rows.
            //   Row 0:  Tab   Q  W  E  R  T   |   Y  U  I  O  P  -
            //   Row 1:  Bksp  A  S  D  F  G   |   H  J  K  L  ;  '
            //   Row 2:  LShft Z  X  C  V  B   |   N  M  ,  .  /  \
            //   Row 3 (near thumbs 4 per side):     trans LShft Space Mo1   |   LCtl Mo2 LWin trans
            //   Row 4 (deep thumbs 2x2 per side):   LWin  LAlt  trans trans |   LAlt Enter trans trans

            bindings = <
&kp ESCAPE     &kp Q  &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp BACKSPACE  &kp A  &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp TAB        &kp Z  &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                      &kp TAB    &kp LSHFT  &kp LSHFT  &kp SPACE  &mo 2      &kp LWIN   &kp LWIN   &trans
                      &kp LCTRL  &kp LALT   &kp LWIN   &mo 1      &kp LCTRL  &kp ENTER  &kp LALT   &trans
            >;
        };

        lower_layer {
            // Lily58 lower, number row dropped.
            //   Row 0:  BT0  BT1   7  8  9  [   |   ]   trans  Up    trans trans  +
            //   Row 1:  BT2  BTCLR 4  5  6  (   |   )   Left   Down  Right -     |
            //   Row 2:  ___  ___   1  2  3  0   |   }   trans  trans trans =     _
            //   Row 3/4 (thumbs): all trans

            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &kp N7  &kp N8  &kp N9  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans    &kp UP_ARROW  &trans     &trans     &kp PLUS
&bt BT_SEL 2  &bt BT_CLR    &kp N4  &kp N5  &kp N6  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT  &kp DOWN      &kp RIGHT  &kp MINUS  &kp PIPE
&trans        &trans        &kp N1  &kp N2  &kp N3  &kp N0                &kp RIGHT_BRACE        &trans    &trans        &trans     &kp EQUAL  &kp UNDER
                            &trans  &trans  &trans  &trans                &trans                 &trans    &trans        &trans
                            &trans  &trans  &trans  &trans                &trans                 &trans    &trans        &trans
            >;
        };

        raise_layer {
            // Lily58 raise, number row dropped.
            //   Row 0:  ___  ___    <    >    ___    ___    |   &    _      [     ]      %      Mute
            //   Row 1:  Del  !      -    +    =      #      |   |    :      (     )      ?      Vol+
            //   Row 2:  ___  ___    /    *    \      ___    |   ~    $      {     }      @      Vol-
            //   Row 3/4 (thumbs): all trans

            bindings = <
&kp GRAVE   &trans    &kp LESS_THAN  &kp GREATER_THAN  &trans         &trans    &kp AMPERSAND  &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT   &kp K_MUTE
&kp DELETE  &kp EXCL  &kp MINUS      &kp PLUS          &kp EQUAL      &kp HASH  &kp PIPE       &kp COLON       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION  &kp C_VOLUME_UP
&trans      &trans    &kp SLASH      &kp ASTERISK      &kp BACKSLASH  &trans    &kp TILDE      &kp DOLLAR      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT_SIGN   &kp C_VOL_DN
                      &trans         &trans            &trans         &trans    &trans         &trans          &trans                &trans
                      &trans         &trans            &trans         &trans    &trans         &trans          &trans                &trans
            >;
        };
    };
};
